#!/usr/bin/make -f
# Copyright (C) 2005 Anibal Monsalve Salazar <anibal@debian.org>

PATH=/usr/bin:/bin

DEB_BUILD_GNU_TYPE := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE  := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

export DH_VERBOSE=1
export DH_OPTIONS

configure: configure-stamp
configure-stamp:
	dh_testdir
	libtoolize --copy --force
	aclocal
	autoconf
	cp -f /usr/share/misc/config.sub /usr/share/misc/config.guess .
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --enable-static --without-java --without-cplusplus
	touch $@

build: build-stamp
build-stamp: configure
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) distclean
	-rm -f build-stamp configure-stamp
	rm -f config.sub config.guess
	-rm beecrypt *.o .libs/* python/.libs/* python/*.o
	-rm -f `find . -name Makefile`
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=`pwd`/debian/tmp
	dh_movefiles

binary-indep: DH_OPTIONS=-i
binary-indep: 
# nothing to do

binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installchangelogs
	dh_strip
	dh_link
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: configure build clean binary-indep binary-arch binary install
